












































































































































































































/* 搜索组件 */.search-cont.data-v-526e0051{width:92%;height:40px;margin:0 4%;border:1px solid #ccc;border-radius:20px;padding:0 15px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.search-cont .icon-search.data-v-526e0051{color:#ccc;font-size:20px}.search-cont .sinput-cont.data-v-526e0051{width:100%;
	/* height: 40px; */min-height:40px;line-height:40px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;padding-left:15px;color:#000;font-size:16px}.rush-list.data-v-526e0051{width:100%;display:inline-block}.rush-list .rush-img.data-v-526e0051{width:100%;height:188px;position:relative}.rush-img .tag.data-v-526e0051{height:22px;line-height:22px;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;background:#ff8c00;position:absolute;left:0;top:0;border-bottom-right-radius:10px;padding:0 8px;color:#fff;font-size:12px}.rush-list .rush-header.data-v-526e0051{width:100%;height:44px;background:-webkit-gradient(linear,left top,right top,from(#ff1f85),to(#ff5722));background:-o-linear-gradient(left,#ff1f85 0,#ff5722 100%);background:linear-gradient(90deg,#ff1f85,#ff5722);display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding:0 15px}.rush-header .mh-lf.data-v-526e0051{width:100%;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:#fff;font-size:14px}.rush-header .mh-rf.data-v-526e0051{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.rush-list .item-rush.data-v-526e0051{width:100%;margin-bottom:3px;padding:15px;background:#fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.rush-list .item-rush .rush-img.data-v-526e0051{width:120px;height:120px
	/* background: #f00; */}.rush-list .item-rush .rush-cont.data-v-526e0051{width:100%;display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;margin-left:10px}.item-rush .rush-cont .progress-hollow.data-v-526e0051{width:100%;height:12px;margin-top:8px;border-radius:6px;background:rgba(237,48,5,.2);border:1px #ed3005 solid;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.item-rush .rush-cont .progress-solid.data-v-526e0051{position:absolute;left:0;top:0;bottom:0;
	/* right: 0%; */border-radius:6px;background:red}.item-rush .rush-cont .progress-num.data-v-526e0051{color:#fff;font-size:12px;z-index:999}.item-rush .rush-cont .stock.data-v-526e0051{width:100%;font-size:12px;text-align:right;color:#ed3005;margin-top:4px}.item-rush .rush-cont .rush-desc.data-v-526e0051{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative}.rush-desc .rd-lt.data-v-526e0051{width:100%;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.rush-desc .rd-lt .price.data-v-526e0051{color:#ed3005;font-size:14px}.rush-desc .rd-lt .cost-price.data-v-526e0051{color:#999;font-size:12px;text-decoration:line-through}.rush-desc .rd-rt.data-v-526e0051{height:32px;line-height:32px;color:#fff;padding:0 16px;font-size:16px;border-radius:2px;background:-webkit-gradient(linear,left top,right top,from(#ff1f85),to(#ff5722));background:-o-linear-gradient(left,#ff1f85 0,#ff5722 100%);background:linear-gradient(90deg,#ff1f85,#ff5722);margin-top:8px}