





















































































































































































































































































































































































































































































































































































































































/* 拼团列表 */.pt-list{width:100%;display:block;padding:10px 15px;background:#fff}.pt-list .item-pintuan{width:100%;height:60px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;background:#f9e6c1;border-radius:4px;padding:0 15px;margin:5px 0}.pt-list .item-pintuan .p-face{width:40px;height:40px;border-radius:20px}.pt-list .item-pintuan .p-cont{width:100%;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;display:block;padding:0 10px}.pt-list .item-pintuan .p-cont .pc-name{color:#333;font-size:14px}.pt-list .item-pintuan .p-cont .pc-num{margin-top:2px;color:#ed3005;font-size:14px}.pt-list .item-pintuan .p-join{height:60px;line-height:60px;color:#ed3005;font-size:14px}
/* 选择商品规格 */.dialog-pintuan{width:100%;position:fixed;max-height:100%;bottom:0;background:#fff;border-top-left-radius:8px;border-top-right-radius:8px;overflow:scroll;animation:bounceInUp 1s ease 0s 1 both;-webkit-animation:bounceInUp 1s ease 0s 1 both
	/* z-index: 998; */}.dialog-pintuan .dialog-header{width:100%;height:54px;border-bottom:1px solid #ccc;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:0 15px;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.dialog-pintuan .dialog-header .d-tit{font-size:18px;color:#333;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.dialog-pintuan .dialog-header .d-close{color:#333;font-size:16px}.dialog-pintuan .dialog-cont{width:100%;padding:10px 15px;display:block;overflow-y:scroll;max-height:500px}.dialog-cont text{line-height:24px;font-size:14px;color:#2d3133}.pintuan-step{width:100%;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;padding:15px 14px 23px 14px;background:#fff}.pintuan-step .item-step{width:84px;display:inline-block;text-align:center;
	/* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08); */border-radius:4px;float:left;margin:1px}.pintuan-step .item-step .s-name{width:100%;padding:12px 14px;font-size:14px;color:#000;-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.08);box-shadow:0 2px 4px 0 rgba(0,0,0,.08)}.pintuan-step .item-step .s-btom{position:relative;height:32px;background:#000;opacity:.4;border-radius:0 0 4px 4px;text-align:center;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.04);box-shadow:0 1px 4px 0 rgba(0,0,0,.04)}.pintuan-step .item-step .s-btom .sb-num{width:100%;line-height:32px;color:#fff;font-size:16px;text-align:center}.pintuan-step .item-step .s-btom .sb-arrow{width:0;height:0;border-width:5px;border-style:solid;border-color:#fff rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);position:absolute;top:0;left:37px}
/* 砍价信息 */.bargain-info{width:100%;height:60px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.bargain-info .lt-barInfo{width:58.67%;height:60px;position:relative;background:-webkit-gradient(linear,left top,right top,from(#ff1f85),to(#ff5722));background:-o-linear-gradient(left,#ff1f85 0,#ff5722 100%);background:linear-gradient(90deg,#ff1f85,#ff5722);padding:0 15px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.bargain-info .lt-barInfo .price{font-size:16px;color:#fff}.bargain-info .lt-barInfo .cost-price{display:block;margin-left:12px}.bargain-info .lt-barInfo .cost-price .cp-top{color:#fff;opacity:.5;font-size:14px}.bargain-info .lt-barInfo .cost-price .cp-bottom{color:#fff;font-size:12px;margin-top:2px}.bargain-info .lt-barInfo .arrow-img{width:25px;height:60px;position:absolute;right:0;top:0}.bargain-info .rt-barInfo{width:41.33%;height:60px;background:#ffeae0;text-align:right;padding:0 15px}.bargain-info .rt-barInfo .rt-top{color:#ed3005;font-size:20px;margin-top:6px}.bargain-info .rt-barInfo .rt-bottom{color:#ed3005;font-size:14px;margin-top:2px}
/* 选择商品规格 */.spec-dialog{width:100%;position:fixed;bottom:0;background:#fff;border-top-left-radius:8px;border-top-right-radius:8px}.spec-dialog .dialog-header{width:100%;height:54px;border-bottom:1px solid #ccc;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:0 15px;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.spec-dialog .dialog-header .d-tit{font-size:18px;color:#333;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.spec-dialog .dialog-header .d-close{color:#333;font-size:16px}.spec-dialog .dialog-spec-cont{width:100%;padding:10px 15px;display:block;overflow-y:scroll}.dialog-spec-cont .spec-base{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin:9px 0}.dialog-spec-cont .spec-base .spec-img{width:100px;height:100px;background:red}.dialog-spec-cont .spec-base .base-cont{width:100%;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;display:block;margin-left:10px;position:relative}.base-cont .s-price{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;color:#999}.base-cont .s-surplus{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-top:16px;font-size:14px;color:#666}.base-cont .s-desc{color:#666;font-size:14px;position:absolute;bottom:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.spec-cont{width:100%;display:inline-block;margin-top:10px}.spec-cont .spec-tit{width:100%;font-size:14px;color:#666;margin:5px 0}.spec-cont .spec-grid{width:100%;display:block}.spec-cont .spec-grid .item-spec{height:40px;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding:0 14px;margin:5px 12px 5px 0;color:#333;font-size:14px;border:1px #ccc solid;float:left}.number-cont{width:100%;height:40px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-top:12px}.number-cont .n-lt{font-size:14px;color:#666}.number-cont .n-rt{width:100%;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;text-align:right;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}.number-cont .n-rt .btn-minus{font-size:16px;color:#ccc}.number-cont .n-rt .num{min-width:56px;height:36px;line-height:36px;background:#f5f6f7;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;color:#43494d;font-size:16px;margin:0 12px}.number-cont .n-rt .btn-add{color:#000;font-size:16px}.btn-sure{width:92%;height:48px;background:#ed3005;color:#fff;font-size:18px;margin:36px 4% 15px 4%}
/* 推荐商品 */.rcm-list{width:100%;display:block;padding:8px}.rcm-list .rcm-goods{width:46%;display:block;margin:8px 2%;float:left}.rcm-list .rcm-goods .g-img{width:100%;height:165px;
	/* background: #f00; */display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.rcm-list .rcm-goods .g-info{width:100%;display:block;padding:12px 15px;background:#fff}.rcm-list .rcm-goods .g-desc{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-top:12px}.rcm-list .rcm-goods .g-desc .price-num{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;text-align:left;color:#ed3005}.rcm-list .rcm-goods .g-desc .sell-num{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;text-align:right;font-size:14px;color:#000;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
/* 评价样式 */.common-info{width:100%;display:block;padding:16px 10px;background:#fff}.common-info .comm-desc{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:0 5px}.common-info .comm-desc .lt-comm{width:100%;margin-right:20px;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:#333;font-size:14px}.common-info .comm-desc .rt-comm{color:#5a6266;font-size:14px}.common-info .comm-type{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex
	/* margin-top: 24px; */}.common-info .comm-type .item-type{width:100%;height:32px;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;margin:0 5px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;font-size:14px;color:#333;border:1px solid #ccc;border-radius:2px}.common-info .comm-type .item-type.active{color:#fff;margin:0 5px;background:#ed3005;border:1px solid #ed3005}.common-list{width:100%;display:block;margin-top:12px;background:#fff}.common-list .item-common{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:20px 15px;border-bottom:1px #f8f8f8 solid}.common-list .item-common .icom-lt{width:46px;display:block}.item-common .icom-lt .user-face{width:44px;height:44px;border-radius:22px;background:#f5f5f5;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.common-list .item-common .icom-rt{width:100%;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;padding-left:4px;display:block}.item-common .icom-rt .user-info{width:100%;height:40px;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding-left:4px;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.item-common .icom-rt .user-info .uinfo-lt{width:100%;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;display:block}.user-info .uinfo-lt .u-name{color:#333;font-size:14px}.user-info .uinfo-lt .u-date{color:#999;font-size:12px;margin-top:2px}.item-common .icom-rt .user-info .uinfo-rt{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.common-list .item-common .icom-rt .common-cont{width:100%;color:#333;font-size:16px;padding-left:4px;line-height:24px;margin-top:8px}.common-list .item-common .icom-rt .common-img{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-top:13px}.common-img .c-img{width:100%;height:93px;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;margin:0 4px;background:red}
/* 底部按钮信息 */.bottom-info{width:100%;height:60px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;position:fixed;bottom:0;background:#fff;-webkit-box-shadow:0 0 4px 0 rgba(0,0,0,.04);box-shadow:0 0 4px 0 rgba(0,0,0,.04)}.bottom-info .item-bottom-menu{width:100%;height:60px;text-align:center;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;display:block}.bottom-info .item-bottom-menu .ibmenu-num{width:100%;font-size:18px;color:#fff;margin-top:6px}.bottom-info .item-bottom-menu .ibmenu-text{width:100%;font-size:16px;color:#fff;margin-top:2px}.bottom-info .item-bottom-menu .ib-menu{width:100%;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;display:inline-block;color:#666;font-size:12px}.goods-server-info{width:100%;background:#fff;padding:0 15px;display:inline-block}.goods-server-info .item-server{width:100%;height:50px;border-bottom:1px solid #ccc;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;color:#333;font-size:14px}.goods-server-info .item-server-desc{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.goods-server-info .item-server-desc .server-info{width:100%;display:block;padding:9px 0}.server-info .sinfo-item{width:100%;height:20px;line-height:20px;margin:8px 0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;color:#333;font-size:14px}.goods-info{width:100%;padding:20px 15px;display:block;background:#fff}.goods-info .goods-name{width:100%;color:#333;font-size:18px}.goods-info .goods-price{width:100%;margin-top:16px}.goods-info .goods-desc{width:100%;margin-top:8px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.goods-info .goods-desc .item-desc{width:100%;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:#000;font-size:14px}.goods-detail-box{width:100%;display:block}.goods-detail-box .goods-video-box{width:100%;height:375px;background:#fcfcfc;position:relative}.goods-detail-box .goods-video-box .vip-price{height:24px;line-height:24px;padding:0 10px;background:-webkit-gradient(linear,left top,right top,from(#ffa44b),to(#fb4a86));background:-o-linear-gradient(left,#ffa44b 0,#fb4a86 100%);background:linear-gradient(90deg,#ffa44b,#fb4a86);border-radius:0 12px 12px 0;opacity:.9;position:absolute;left:0;bottom:10px;color:#fff;font-size:14px}.goods-video-box .share-box{width:36px;height:36px;border-radius:18px;background:#000;opacity:.5;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;top:15px;right:15px;position:absolute}.goods-video-box .share-box .btn-share{width:36px;height:36px;position:absolute;background:rgba(0,0,0,0)}.goods-video-box .share-box .btn-share:after{border:none}.goods-video-box .dot-bg{height:24px;line-height:24px;padding:0 12px;color:#fff;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;border-radius:12px;position:absolute;bottom:20px;right:15px;font-size:14px;background:#000;opacity:.5}
/* 悬浮在轮播上 */.goods-video-box .notice-info{width:181px;height:36px;border-radius:18px;padding:0 4px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;position:absolute;top:15px;left:15px;background:-webkit-gradient(linear,left top,right top,from(#ff8135),to(#fd4d64));background:-o-linear-gradient(left,#ff8135,#fd4d64);background:linear-gradient(90deg,#ff8135,#fd4d64);opacity:.8}.notice-info .icon-notice{width:30px;height:30px;background:#fcfcfc;border-radius:15px;
	/* margin-right: 10rpx; */display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex}.notice-list{width:100%;height:30px;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;padding-right:3px;font-size:11px
	/* margin-left: 12rpx; */}.notice-list .item-notice{width:100%;height:30px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;font-size:12px;color:#fff}.item-notice text{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;margin-left:6px;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}